.mapboxgl-popup {
    max-width: 400px !important;
}

#marker {
    background-color: #5B5FA8;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.breadcrumb {
    background-color: transparent !important;
    padding-left: 0px !important;
}